*{
    border-color: lightgreen;
  }

  body{
    background-color: slateblue;
  }
  /* Define the button class */
  .btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #ffffff;
      text-align: center;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
  }

  /* Hover effect */
  .btn:hover {
      background-color: #0056b3;
  }

  /* Define the delete button class */
  .delete-btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #dc3545;
      /* Red color */
      color: #ffffff;
      text-align: center;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
  }

  /* Hover effect */
  .delete-btn:hover {
      background-color: #c82333;
      /* Darker red color */
  }













