<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm/Delete</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/VP4.css}">
</head>
<body>
    <div th:replace="~{./fragments/headerFragment :: header}"></div>
    <div class="content">  

    <h1>Delete???</h1>

    <strong><label>Shelter: </label></strong>
    <label th:text = "${shelter.name}"></label><br>
    <strong><label>Phone: </label></strong>
    <label th:text = "${shelter.phoneNumber}"></label><br>
    <strong><label>Address(1): </label></strong>
    <label th:text = "${shelter.addressLine1}"></label><br>
   <strong><label>Address(2): </label></strong>
    <label th:text = "${shelter.addressLine2}"></label><br>
    <Strong><label>City: </label></Strong>
    <label th:text = "${shelter.city}"></label><br>
    <Strong><label>State: </label></Strong>
    <label th:text = "${shelter.state}"></label><br>
    <Strong><label>Zip: </label></Strong>
    <label th:text = "${shelter.zip}"></label><br>

   <button type="button" id="confirm"><a th:href="@{confirmDelete/{id}(id=${shelter.id})}" class="confirmButton"> Confirm?</a></button>
    <button id="cancel"><a th:href="@{/}" class="cancelButton"> Cancel </a></button>



</div>
<div th:replace="~{./fragments/footerFragment :: footer}"></div>   
</body>
</html>