<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/VP4.css}">
</head>

<body>
    <div th:replace="~{./fragments/headerFragment :: header}"></div>
    <div class="content">

        <h1>Detail</h1>
        <label>Shelter Name: </label>
        <label th:text="${shelter.name}"></label><br>

        <label>Phone Number: </label>
        <label th:text="${shelter.phoneNumber}"></label><br>

        <label>Address(1): </label>
        <label th:text="${shelter.addressLine1}"></label><br>

        <label>Address(2): </label>
        <label th:text="${shelter.addressLine2}"></label><br>

        <label>City: </label>
        <label th:text="${shelter.city}"></label><br>

        <label>State: </label>
        <label th:text="${shelter.state}"></label><br>

        <label>Zip: </label>
        <label th:text="${shelter.zip}"></label><br>

        <label>Email: </label>
        <label th:text="${shelter.email}"></label><br>

        <label>Website: </label>
        <label th:text="${shelter.website}"></label><br>

        <label>Image Url: </label>
        <label th:text="${shelter.imageUrl}"></label><br>

        <button><a th:href="@{/}" class="cancelButton"> Go Back </a></button>

    </div>
    <div th:replace="~{./fragments/footerFragment :: footer}"></div>
</body>

</html>